.etf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}

.overview {
    display: flex;
    flex-direction: column;
}

.prices {
    display: flex;
    flex-direction: column;
}