.etf {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 2rem;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    color: var(--black3FC);
    background-color: var(--grey1BG);
}

.overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
}