.home {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem;
}

/* More button styling */
.more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.more button {
  font-size: var(--fs-md);
  padding: 0.75rem 2rem;
  border-radius: 1rem;
  color: var(--black3FC);
  background-color: var(--grey1BG);
  cursor: pointer;
}

/* Slider Switch Styling */
.sliderSwitchContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.sliderSwitch {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.sliderSwitch > div {
  border: 1px solid red;
}
