.stock {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  color: var(--black3FC);
  background-color: var(--grey1BG);
}

.overview,
.updated {
  width: 10rem;
}

.overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.overview h3 {
  font-size: 1.5rem;
  color: var(--black2FC);
}

.overview h4 {
  font-size: 1rem;
  font-weight: normal;
  color: var(--black3FC);
}

.price {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  color: var(--black3FC);
}

.updated {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.updated span,
.updated input {
  font-size: 1.5rem;
}

.updated input{
  width: 3rem;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.slider > div {
  width: 100%;
}
