/* Reset CSS */
*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

ol,
ul {
	list-style: none;
}

img,
svg,
video,
canvas,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
select,
textarea {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  overflow-wrap: break-word;
}

/* Variables */
:root {
  /* Background Colours */
  --whiteBG: rgba(255, 255, 255, 1);
  --grey1BG: rgba(246, 246, 247, 1);
  --grey2BG: rgba(227, 227, 229, 1);
  --greenBG: rgba(215, 255, 180, 1);

  /* Font Colours */
  --black1FC: rgba(0, 0, 0, 1);
  --black2FC: rgba(20, 20, 20, 1);
  --black3FC: rgba(40, 40, 40, 1);
  --black4FC: rgba(60, 60, 60, 1);
  --black5FC: rgba(80, 80, 80, 1);

  /* Box Shadow */
  --bsSlim: 0rem 0rem 1rem 1rem rgba(0, 0, 0, 0.5);

  /* Font Sizes */
  --fs-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --fs-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --fs-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --fs-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --fs-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --fs-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --fs-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

/* General Styling */
html {
  background-color: var(--whiteBG);
}
