/* Reset CSS */
*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

ol,
ul {
	list-style: none;
}

img,
svg,
video,
canvas,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
select,
textarea {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  overflow-wrap: break-word;
}

/* Variables */
:root {
  /* Background Colours */
  --whiteBG: rgba(255, 255, 255, 1);
  --lightGreyBG: rgba(246, 246, 247, 1);
  --darkGreyBG: rgba(227, 227, 229, 1);
  --greenBG: rgba(215, 255, 180, 1);

  /* Font Colours */
  --darkBlackFC: rgba(0, 0, 0, 1);
  --blackFC: rgba(30, 30, 30, 1);
  --lightBlackFC: rgba(60, 60, 60, 1);
}

/* General Styling */
html {
  background-color: var(--white);
}
